@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --primary: #fb7718;
  --light: #959eac;
  --medium: #7c8798;
  --dark: rgb(37, 45, 55);
  --very-dark: #121417;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--very-dark);
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  width: 380px;
  background-color: rgba(37, 45, 55, 0.6);
  border-radius: 20px;
}

.rating,
.feedback {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.feedback {
  text-align: center;
}

.img-container {
  margin-bottom: 20px;
}

.rated {
  background-color: var(--dark);
  border-radius: 25px;
  width: 200px;
  padding: 0 5px;
  margin: 0 auto;
}

.rated p {
  color: var(--primary);
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 3px;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: var(--dark);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 30px;
}

.title {
  color: white;
}

p {
  color: var(--light);
  margin-top: 10px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.input {
  color: var(--light);
  font-weight: bold;
  cursor: pointer;
}

.input:hover {
  background-color: var(--primary);
  color: white;
}

.input.active {
  background-color: var(--light);
  color: white;
}

.input span {
  margin-top: 5px;
}

.btn {
  display: inline-block;
  outline: none;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.btn:hover {
  background-color: white;
  color: var(--primary);
}

/* 
Mobile: 375px
Desktop: 1440px
*/
