@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --primary: #fb7718;
  --light: #959eac;
  --medium: #7c8798;
  --dark: #252d37;
  --very-dark: #121417;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

/* 
Mobile: 375px
Desktop: 1440px
*/
